@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  padding: 0 15px;
  min-height: 100vh;
  justify-content: center;
  background-image: url("../images/bg.svg");
}

.signup-page {
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}

.signup-page .sigup-logo {
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
}

.sigup-logo p {
    font-size: 2.75rem;
    color: #FFFFFF;
    white-space: nowrap;
    align-content: center;
    margin-left: 15px;
    font-weight: 600;
  }

.form-text h4 {
    color: #1877f2;
    font-size: 1.5rem;
    line-height: 1.253rem;
    font-weight: 700;
  }

  .form-text p {
    font-size: 1rem;
    line-height: 1.21rem;
    font-weight: 400;
  }

  .form-text a {
    color: #1877f2;
    font-size: 0.875rem;
  }

  .form-text:hover a {
    text-decoration: underline;
  }

form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 60px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 453px;
  width: 100%;
}

form input {
  height: 50px;
  width: 100%;
  background-color: #F4F6F9;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 1rem;
  padding: 0 14px;
}

form input:focus {
  outline: none;
  border-color: #1877f2;
}

::placeholder {
  color: #777;
  font-size: 1.063rem;
}

.link {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.link .signup {
  border: none;
  outline: none;
  cursor: pointer;
  background: #0B4176;
  padding: 10px 0;
  border-radius: 10px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.2s ease;
}

.link .signup:hover {
  background: #fff;
  color: #0B4176;
  border: 1px solid #0B4176;
}

form a {
  text-decoration: none;
}

.link .forgot {
  color: #1877f2;
  font-size: 0.875rem;
}

.link .forgot:hover {
  text-decoration: underline;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
}

.signup-icons {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.signup-icons img {
  margin: 0px 10px ;
}

@media (max-width: 900px) {
  .signup-page .text {
    margin-bottom: 30px;
  }
}

@media (max-width: 460px) {
  .signup-page h1 {
    font-size: 3.5rem;
  }

  .signup-page p {
    font-size: 1.3rem;
  }
  .sigup-logo img {
   width: 20px;
  }
  .sigup-logo p {
    margin: 15px;
    font-weight: 400;
    font-size: 1rem;
  }

  form {
    margin: 0 auto;
  }
}




/* Footer style */


.footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  background-color: #0B4176;
  padding: 7.40rem; /* 119px */
}

.footer-head-line {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
}

.footer-down {
  display: flex;
  font-size: 1.25rem; /* 20px */
  line-height: 1.5125rem; /* 24.2px */
  text-align: left;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-pages {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.footer-pages li {
  font-size: 1rem; /* 16px */
  line-height: 2em; /* 19.36px */
  text-align: left;
  font-weight: 400;
  margin-right: 20px;
  padding: 5px;
}

.fa-brands,
.fa-regular {
  font-size: 1.5rem;
}

.fa-envelope {
  color: rgb(122, 8, 8);
  display: inline-block;
  padding-left: 5px;
}

.fa-whatsapp {
  color: green;
}

.fa-facebook {
  color: #dbe3eb;
}

.fa-x-twitter {
  color: black;
}

.footer-test {
  display: inline-block;
  padding-left: 5px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .footer {
    padding: 4rem; /* Adjust padding for smaller screens */
  }

  .footer-down {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-pages {
    margin-bottom: 20px;
  }

  .footer-head-line {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .footer-pages li {
    font-size: 0.875rem; /* 14px */
  }

  .fa-brands,
  .fa-regular {
    font-size: 1rem; /* Adjust icon size for smaller screens */
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 2rem; /* Adjust padding for mobile screens */
  }

  .footer-head-line {
    font-size: 1.2rem; /* Adjust font size for mobile screens */
  }

  .footer-pages li {
    font-size: 0.75rem; /* 12px */
  }

  .fa-brands,
  .fa-regular {
    font-size: 0.8rem; /* Adjust icon size for mobile screens */
  }
}

