@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  padding: 0 15px;
  min-height: 100vh;
  justify-content: center;
  background-image: url("./bg.svg");
}

.signup-page {
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}

.signup-page .sigup-logo {
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
}

.sigup-logo p {
    font-size: 2.75rem;
    color: #0E2944;
    white-space: nowrap;
    align-content: center;
    margin-left: 15px;
    font-weight: 600;
  }

.form-text h4 {
    color: #1877f2;
    font-size: 1.5rem;
    line-height: 1.253rem;
    font-weight: 700;
  }

  .form-text p {
    font-size: 1rem;
    line-height: 1.21rem;
    font-weight: 400;
  }

  .form-text a {
    color: #1877f2;
    font-size: 0.875rem;
  }
  
  .form-text:hover a {
    text-decoration: underline;
  }

form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 100px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 453px;
  width: 100%;
}

form input {
  height: 50px;
  width: 100%;
  background-color: #F4F6F9;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 1rem;
  padding: 0 14px;
}

form input:focus {
  outline: none;
  border-color: #1877f2;
}

::placeholder {
  color: #777;
  font-size: 1.063rem;
}

.link {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.link .signup {
  border: none;
  outline: none;
  cursor: pointer;
  background: #0B4176;
  padding: 10px 0;
  border-radius: 10px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.2s ease;
}

.link .signup:hover {
  background: #fff;
  color: #0B4176;
  border: 1px solid #0B4176;
}

form a {
  text-decoration: none;
}

.link .forgot {
  color: #1877f2;
  font-size: 0.875rem;
}

.link .forgot:hover {
  text-decoration: underline;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
}

.signup-icons {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.signup-icons img {
  margin: 0px 10px ;
}

@media (max-width: 900px) {
  .signup-page .text {
    margin-bottom: 30px;
  }
}

@media (max-width: 460px) {
  .signup-page h1 {
    font-size: 3.5rem;
  }

  .signup-page p {
    font-size: 1.3rem;
  }

  form {
    padding: 15px;
  }
}
